*{
    background-color: #011F3F;
    text-align: center;
}
#level-title{
    font-family:'Press Start 2P',cursive;
    color: blanchedalmond;
    text-align: center;
    margin: 5%;
    font-size:50px;
}

.div{
    margin: 1%;
}
.container{
    display: block;
    width: 50%;
    margin: auto;
}

.btn{
    margin: 20px;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    display: inline-block;    
    border-radius: 20%;
    
}
.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.pressed{
    box-shadow: 0 0 20px white;
    background-color: grey;
    opacity: 0.5;
}
.game-over{
    background-color: red;
    opacity: 0.8;
}